* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  list-style: none;
  text-decoration: none;
  }

/************ HEADER *********/

header {
  background-color: white;
  padding: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 70px;
  margin-right: 10px;
}

.nav-content {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav img {
  height: 50px;
}

nav img.Poke {
  height: 70px;
}

.center-content {
  display: flex;
  align-items: center;
  gap: 0.5cm;
}

header h1 {
  font-family: 'Arial', sans-serif;
  font-size: 36px;
  margin: 0;
}

.button1 {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: 2px solid black; /* Ajout de la bordure */
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s;
}

/************ SECTION 1 *********/
.section1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sousSection1 {
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  gap: 1rem;
}

.card1 {
  position: relative;
  width: 10rem;
 border: solid 1px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  height: 50%;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
  background-color: white;
  padding: 0.5rem;
  border: solid 1px black;
}
#selectedOption {
font-size: 12px; /* Ajuste la taille de la police selon tes besoins */
}

/* Style du placeholder */
#selectedOption.placeholder {
color: #999;
font-style: italic;
}

/* Annulation du style de placeholder lorsqu'une option est sélectionnée */
#selectedOption:not(.placeholder) {
font-size: 14px;
color: black;
font-style: normal;
}


.alert {
display: flex;
justify-content: center;
align-items: center;
gap: 5px;
height: 50%;
border: solid 2px green;
padding-inline: 0.5rem;
color: black;
}

/************ SECTION 2 *********/

.uno,
.dos {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  
}
.dos{
  margin-top: 20px;
}
.uno{
  margin-top: 30px;
}
.card {
  width: 18rem;
  border: 1px solid #ccc; 
  border-radius: 10px; 
  overflow: hidden; 
  background-color: rgb(135, 135, 205);
  
}

.card-img-top {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc; 
}

.card-body {
  padding: 1rem; 
 
}

.card-text {
  color: #333; 
}
.background{
  background-image: url("https://marketplace.canva.com/EAFCO6pfthY/1/0/1600w/canva-blue-green-watercolor-linktree-background-F2CyNS5sQdM.jpg");
}

/************ FOOTER *********/

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content {
  display: flex;
  max-width: 100%;
  padding: 0 20px;
}

.logo {
  width: 80px;
  height: 40px;
  margin-right: 15px;
}